@font-face {
    font-family: CSFont;
    src: url("../fonts/cs_regular.ttf");
}

body {
  font-family: CSFont;
  background-image: url("../img/body-background.jpg");
  background-repeat: no-repeat;
  background-origin: content-box;
  background-attachment: fixed;
  background-size: 100% 100%;
  color:white;
  margin:0px;
  font-size:18px;
}

.container {
  margin: auto auto;
  width:1000px;
}

footer {
  position:fixed;
  bottom:0px;
  width:100%;
  text-align:right;
  font-size:20px;
  text-shadow: 1px 1px #ff0000;
}




