figure {
  text-align:center;
  margin:5px;
  border-radius:5px;
  padding-bottom:5px;
  font-size:14px;
}

.profile {
  width:120px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

.redBox {
    box-shadow: inset 4px 4px 20px rgba(255, 0, 0, 0.75), 3px 3px 10px rgba(18, 52, 86, 0.5);
 }